asgiref==3.8.1
black==25.1.0
click==8.1.8
colorama==0.4.6
distlib==0.3.9
Django==5.2.3
django-sass-processor==1.4.2
filelock==3.18.0
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
pillow==11.3.0
platformdirs==4.3.7
setuptools==80.9.0
sqlparse==0.5.3
tzdata==2025.2
virtualenv==20.31.2
wheel==0.45.1
