.background-image {
  background-image: url("https://images5.alphacoders.com/810/thumb-1920-810189.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 20rem;
  position: relative;
}

.background-image .background-shadow {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image .text-center {
  color: white;
}

.card-img-top {
  max-height: 12rem;
}
