{% extends "base.html" %}

{% block title %}Clientes{% endblock %}

{% block content %}
  <div class="card shadow-sm">
    <div class="card-body">
      <h2 class="card-title mb-4">Lista de Clientes</h2>

      <form action="{% url 'buscar_clientes' %}" method="get" class="d-flex mb-3">
        <input type="text" name="name" placeholder="Buscar cliente..." class="form-control me-2" value="{{ query|default:'' }}">
        <button type="submit" class="btn btn-outline-primary">Buscar</button>
      </form>


      {% if clients %}
        <ul class="list-group">
          {% for client in clients %}
            <li class="list-group-item">
              {{ client.name }} {{ client.lastname }} — {{ client.email }}
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p class="text-muted">No hay clientes cargados.</p>
      {% endif %}
    </div>
  </div>

  <a href="{% url 'crear_cliente' %}" class="btn btn-success mt-4">+ Nuevo cliente</a>

  <a href="{% url 'home' %}" class="btn btn-secondary mt-4">← Volver al inicio</a>
{% endblock %}
