{% extends "base.html" %}

{% load sass_tags static %}

{% block title %} | Inicio{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% sass_src 'css/home.scss' %}">
{% endblock %} 

{% block content %}
  <div class="background-image">
    <div class= "background-shadow">
      <div class="text-center mt-5">
        <h1 class="display-4">Bienvenido a Warhammer Store</h1>
        <p class="lead">Explorá y coleccioná las miniaturas más poderosas del universo WH40K.</p>
        <a href="{% url 'product_list' %}" class="btn btn-primary btn-lg mt-3">Ver productos</a>
      </div>
    </div>
  </div>

  <hr class="my-5">

  <div class="row text-center">
    {% for category in categories %}
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">{{ category.name }}</h5>
            <img src="{{ category.image }}" class="card-img-top" alt="{{ category.name }}">
            <a href="{% url 'products_by_category' category.slug %}" class="btn btn-outline-dark mt-2">
              Ver productos
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
